body {
    text-align: center;
    border: 10px 50px;
    background-color: aqua;
    font-size: 30px;
    /* background-image: url("../images/palm4.jpg");
    background-repeat: no-repeat;
    width: 100%; */
}

p {
    font-size: 30px;
}

.id {
    font-size: 30px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    text-shadow: 5px;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;

  }