body {
    text-align: center;
    border: 10px 50px;
    background-color: aqua;
    
}

h1 {
    text-align: center;
}

p {
    font-size: 14px;

}



/* #numbers {
    width: 50%;
    align-content: center;
    border: 10px;
}

#letters {
    width: 50%;
    align-content: center;
    border: black 10px;
} */

